[submodule "real_world_machine_learning/book_code"]
	path = real_world_machine_learning/book_code
	url = https://github.com/brinkar/real-world-machine-learning.git
	branch = master
[submodule "pmachine_learning_in_7_days/seaborn-data"]
	path = pmachine_learning_in_7_days/seaborn-data
	url = https://github.com/mwaskom/seaborn-data.git
[submodule "pmachine_learning_in_7_days/book_code"]
	path = pmachine_learning_in_7_days/book_code
	url = https://github.com/PacktPublishing/Python-Machine-Learning-in-7-Days.git
